/*Card*/
.cardPricing{
    
    background-color: white;
    border-radius: 20px;
}
/*Centralizando conteudo dentro da coluna*/
.colCardPricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #EBEBEB;
    background-color: #FFFFFF;
}


/*titulo do plano*/
.titlePlan{
    
    color: #7575DA;
    padding-top: 50px;
    font-size: 25px;
}

/*preço do plano*/
.price{
    font-size: 60px;
    color: #393689;
    font-weight: bold;
    padding-top: 5px;
}

/*per month*/
.month{
    padding-top: 5px;
}

/*barra vertica depois do per month*/
.hrPricing{
    width: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #8f8f8f;
    padding-top: 2px;
}

/*Descricao do plano*/

.item{
    font-weight: 300;
    padding-bottom: 8px;
}

/*Efeito transicao item da descricao*/
.item:hover{
    color: #44418F;
}

/*padding nos botoes get started*/
.botao{
    padding-top: 50px;
    padding-bottom: 50px;
}

/*icone de estrelas*/
.stars{
    background-color:  #FF8A11;
    padding: 1px 20px 2px 20px;
    width: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}


/*Comportamento enquanto for >= 992px*/
@media only screen and (min-width: 992px) {
    /*Criar angular a borda na coluna 1*/
    .colCardPricing:nth-child(1){
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    /*Criar angular a borda na coluna 3*/
    .colCardPricing:nth-child(3){
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

/*Comportamento ao atingir 991px*/
@media only screen and (max-width: 991px) {
    /*Criar angular a borda na coluna 1*/
    .colCardPricing:nth-child(1){
        border-top-left-radius: 20px ;
        border-top-right-radius: 20px;
    }

    /*Criar angular a borda na coluna 3*/
    .colCardPricing:nth-child(3){
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
}