.cardWorkFaster{
    width: 450px;
    height: 160px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: white;
    border: solid 1px #EBEBEB;
}

/*Comportamento ao atingir 991px*/
@media only screen and (max-width: 991px) {
    .cardWorkFaster{
        width: 100%;
        height: 200px;
        justify-content: start;
        padding-left: 40px;
    }
}

