/*espaçamento no topo da navbar*/
.navbar{
    padding-top: 15px;
    position: fixed;
    background-color: #d1e9ffe3;
    width: 100%;
    overflow: hidden;
    display: flex;
}

/*espaçamento esquerdo da navbrand*/
.navbar-brand{
    padding-left: 106px;
}

/*espaçamento direito da barra onde encontra os nav-items*/
.collapse{
    padding-right: 160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*barra onde se encontra os nav-items*/
.navbar-nav{
    width: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*configurando nav-item*/
.navbar-nav > .nav-item > a{
    font-size: 15px;
    color: #000000;
    
}

/*transicao de cor nav-item*/
.navbar-nav > .nav-item > a:hover{
    transition: color .5s;
    color: #6055ee;
    
}


/*botao de start da navbar*/

.navbar-nav > .nav-item > button{
    background-color: #ffffff;
    border: none;
    padding: 5px 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

/*transicao de cor buttonStart*/
.navbar-nav > .nav-item > button:hover{
    transition: color .7s;
    transition: background-color .7s;
    background-color: #7575DA;
    color: white;
}

/*Comportamento ao atingir 1199px*/
@media only screen and (max-width: 1199px) {
    .collapse{
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-nav > .nav-item > button{
        background-color: #7575DA;
        color: white;
        width: 100%; 
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 50px;
        border: solid 1px #7575DA;
        
    }

    .navbar-nav > .nav-item > button:hover{
        background-color: #1C1C1C;
        border: solid 1px #7575DA;
    }

    .navbar-nav{
        
        flex-direction: column;
        
        background-color: #1C1C1C;
    }

    .navbar-nav > .nav-item > a{
        color: white;
        padding-left: 50px;
        
    } 

    .navbar-nav > .nav-item{
        border-bottom: 1px solid rgb(61, 61, 61);
        width: 100%;
    }
    .navbar-nav > .nav-item:nth-child(7){
        padding: 0;
    }

}


/*Comportamentos ao atingir 991px*/
@media only screen and (max-width: 991px) {
    /*Diminuir a navbar collapsed*/
    .navbar-nav{
        width: 300px;
    }
}

/*Comportamentos ao atingir 767px*/
@media only screen and (max-width: 767px) {
    /*Centralizar o navbar collapsed*/
    .collapse{
        justify-content: center;
    }
    /*Centralizar o toggle e a brand*/
    .navbar{
        justify-content: center;
        flex-direction: column;
    }
    /*Aumentar em 100% o tamanho da navbar collapsed*/
    .navbar-nav{
        width: 100%;
    }
    /*Retirar todo o padding da brand*/
    .navbar-brand{
        padding-left: 0;
    }
}